@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;500&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
        @apply hover:text-[#eee];
        @apply duration-200;
        @apply uppercase;
        @apply tracking-wide;
        font-family: 'M PLUS 1 Code', 'Raleway', sans-serif;
    }

    .mono {
        font-family: 'M PLUS 1 Code', 'Raleway', sans-serif;
    }

    .blur-overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    }

    .content-div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }

    .content-div:hover {
        background:rgba(0, 0, 0, 0.3) !important;
    }
}